.c-item 
{
    height: 550px;
    /* width: fit-content;
    object-position: center;
    /* background-size: cover; */
    /* object-position: top; */
    /* object-fit: contain; */ 
}
.c-img
{
    height: 100%;
    object-fit: cover;
}

.logo
{
    height: 5%;
    width: 10%;
}
.mainheading
{
    padding: auto;
    margin-top: 5%;
    margin-left: 5%;
}
.subheading
{
    margin-left: 15%;
}
.meal1
{
    margin-left: 15%;
    
}