.c-item 
{
    height: 550px;
    /* width: fit-content;
    object-position: center;
    /* background-size: cover; */
    /* object-position: top; */
    /* object-fit: contain; */ 
}
.c-img
{
    height: 100%;
    object-fit: cover;
}

.logo
{
    height: 5%;
    width: 10%;
}
.jumbotron
{
    padding: 3.5rem;
    border-radius: 0%;
}
.section-title
{
    margin-left: 35%;
    padding-bottom: 5%;
}
.section-title .explore-heading
{
    margin-left: 15%;
}
.section-title .explore-subheading
{
    margin-right: 10%;
    padding-top: 3%;
}
.mainspace
{
    position: relative;
}
.singlecard
{
    margin-right: 5%;
    /* background-color: rgba(249, 121, 211, 0.685); */
}
.diginbutton
{
    margin-top: 6%;
    margin-bottom: 2%;
    width: 100px;
}
.mainspace .foodpic{
    overflow: hidden;
    
}

.maingrid
{
    margin-left: 11%;
    padding-top: 2%;
   
}
footer{
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.column1
{
    font-size: small;
    line-height: 8px;
    color: #aeadad;
}
.column2
{
    color: #aeadad;
}
.footerlink{
    color: #aeadad;
}
.menuheading
{
    padding-top: 8%;
    padding-left: 5%;
}
.explorelist
{
    list-style-type: none;
}
.icons
{
    margin-left: 33%;
    margin-top: 2%;
}
.icon
{
    padding: 15px;
}