.c-item 
{
    height: 550px;
    /* width: fit-content;
    object-position: center;
    /* background-size: cover; */
    /* object-position: top; */
    /* object-fit: contain; */ 
}
.c-img
{
    height: 100%;
    object-fit: cover;
}

.logo
{
    height: 5%;
    width: 10%;
}
.mainheading
{
    padding: auto;
    margin-top: 5%;
    margin-left: 5%;
}
.subheading
{
    margin-left: 15%;
}
.meal1
{
    margin-left: 15%;
    
}
footer{
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.column1
{
    font-size: small;
    line-height: 8px;
    color: #aeadad;
}
.column2
{
    color: #aeadad;
}
.footerlink{
    color: #aeadad;
}
.menuheading
{
    padding-top: 8%;
    padding-left: 5%;
}
.explorelist
{
    list-style-type: none;
}
.icons
{
    margin-left: 33%;
    margin-top: 2%;
}
.icon
{
    padding: 15px;
}
.roti1_wrapper
{
    width: 100%;
    height: auto;
    background-image: url(photos/roti1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.roti1_wrapper .carousel-item{

 min-height: 500px;
 height: 100%;   
}